/* http://www.colorhexa.com/48b982 */

/*** Primary ***/

header,
#subtitle,
a.dl {
  background-color: #482B58;
}

.content-nav li.active a,
.content-nav li.active a:hover {
  border-left-color: #482B58;
}

/*** One step left on the monochromatic scale ***/

header menu li a:hover,
a.dl:hover {
  background-color: #f50;
}
header menu li a:visited, a:link {
  color: #fff;
  text-decoration: none;
}
p a, p a:visited, p a:link {
  color: #f50;
}
p a:hover {
  color: #482B58
}

/****************************************************************\
 **** Syntax highlighting styles ********************************
\****************************************************************/

.pln { color: #000; }
.str { color: #32835b; }
.kwd { color: #666; }
.com { color: #800; }
.typ { color: #222; }
.lit { color: #666; }
.pun { color: #888; }
.opn { color: #888; }
.clo { color: #888; }
.tag { color: #32835b; }
.atn { color: #606; }
.atv { color: #080; }
.dec { color: #606; }
.var { color: #606; }
.fun { color: #f00; }
